
.left-background{
     margin: $xl-size $l-size;
}
.upperleft{
    
    font-size: 1.4rem;
}
.button-left-top{
    width: 70px;
    height: 70px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    border:3px solid rgb(231, 63, 91);
    font-size: $l-size;
    font-weight: 600;
}
.profile{
    display: flex;
    margin: $xl-size 0;
}
.profile img{
   width: 70px;
   height: auto;
   border-radius: 100px;
   margin-right: $s-size;
}
.profile-details h3{
    color: white;
    margin: 0;
}
.profile-details p{
    color: rgb(216, 216, 216);
    margin: 0;
    font-weight: 300;
}